/*---------
* VARIÁVEIS
*----------*/
$fonte: 'Ropa Sans';
$bgHome_1: '/images/backgrounds/background.png';
$bgHome_2: '/images/backgrounds/background_2.png';
$bgHome_3: '/images/backgrounds/background_3.png';
$bgHome_4: '/images/backgrounds/background_4.png';
$bgHome_5: '/images/backgrounds/background_5.png';
$bgHome_6: '/images/backgrounds/background_6.png';
$bgHome_7: '/images/backgrounds/background_7.jpg';
$bgHome_8: '/images/backgrounds/background_8.jpg';
$bgColorNav: rgba(0,0,0,0.4); 
$link: #f1f806;
$linkHover: #fff;
$m1: 1rem;
$mx1: 0 0.5rem;
$p1: 1rem;
$px1: 0 1.5rem;

* {
    font-family: $fonte;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}